@model BlogsVM
@{
    ViewData["Title"] = "Index";
}

<div class="home-navigation my-3">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <a asp-controller="home" asp-action="index">Ana səhifə</a>/ <a>Blog</a>
            </div>
            <div>
                <div style="width:110px !important; height:20px !important; font-size:15px;">
                    <a asp-controller="wishlist" asp-action="index">
                        <svg id="icon-heart" viewBox="0 0 512 512" style="width:20%;">
                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                            </path>
                        </svg>
                        <span>Istək Listi</span>
                        (<span class="wishlist-count">@Model.WishListCount</span>)
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="secondary-home">
    <div class="container">
        <div class="text-center">
            <div class="row">
                <div class="col-12">
                    <h4 class="main-text">JYSK Blog</h4>

                    <p>
                        Bloqlarımıza göz atın və ən yaxşı trendlər, daxili fikirlərdən və rahat gece yuxusu almaqla
                        bağlı ipuçları əldə edin.
                    </p>

                    <ul class="d-flex justify-content-md-center justify-content-between">
                        <li class="px-md-5">
                            <a href="#">
                                Ilham
                            </a>
                        </li>
                        <li class="px-md-5">
                            <a style="font-weight:bold;">
                                Blog
                            </a>
                        </li>
                        <li class="px-md-5">
                            <a asp-controller="brend" asp-action="index">
                                Brend Üzrə Axtarış
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="blogs">
    <div class="container">
        <div class="row">
            @foreach (var blog in Model.Blogs)
            {
                <div class="col-md-6 col-12 mt-2">
                    <div class="blog-img">
                        <img src="~/assets/img/blog/@blog.BlogSpesifications.Where(m=>m.BlogId == blog.Id).FirstOrDefault()?.Image" alt="blog-image">
                    </div>
                    <div class="blog-text">
                        <h3>@blog.Name</h3>
                        @if (blog.BlogSpesifications.Where(m => m.BlogId == blog.Id).FirstOrDefault()?.BlogText != null)
                        {
                            <p>@blog.BlogSpesifications.Where(m => m.BlogId == blog.Id).FirstOrDefault()?.BlogText</p>
                        }
                    </div>
                    <div class="blog-button">
                        <a asp-controller="blog" asp-action="blogdetail" asp-route-blogId="@blog.Id" class="btn btn-outline-dark">Ardini Oxu</a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>


<div class="categories">
    <div class="container">
        <div class="row">

            @foreach (var category in Model.Categories)
            {
                <div class="col-md-4 col-12 mt-4">
                    <div class="category">
                        <a asp-controller="blog" asp-action="BlogWithCategory" asp-route-categoryId="@category.Id">
                            <img src="~/assets/img/categoriesMainPictures/@category.Image" alt="category-image">
                        </a>
                        <div class="category-header">
                            @category.Name
                            <p>
                                Yazılanların sayı:
                                @if (category.Blogs != null)
                                {
                                    @category.Blogs.Where(m=>!m.IsDeleted).Count()
                                }
                                else
                                {
                                    @Html.Raw(0)
                                }

                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>