@model QuestionVM
@{
    ViewData["Title"] = "Index";
}

<div class="home-navigation my-3">
    <div class="container">
        <a asp-controller="home" asp-action="index">Ana səhifə</a>/ <a>Sual Cavab</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-12">
            <h4>MÜŞTƏRİ XİDMƏTİ - SUALLAR-CAVABLAR</h4>

            <p>
                Siz bizə elektron məktub göndərə və ya @Model.Settings["Phone"] nömrəsinə zəng edə bilərsiniz.Müştəri xidməti
                şöbəsinə
                zəng edərkən, nəzərə alın ki, bəzən xətlərdə yaranan tıxanıqlıq zamanı sizin zənginizə cavab
                verməkdə
                gecikmələr ola bilər.Bu zaman bizə —marketing_jyskaz@taroldd.com elektron ünvanına məktub göndərə
                bilərsiniz:
                JYSK mağazalarından alınan məhsullarla bağlı hər hansı bir problem yarandığı təqdirdə,birbaşa
                məhsulu
                aldığınız mağazaya müraciət etməyiniz məsləhət görülür.
            </p>
        </div>
        <div class="col-md-3 col-12">
            <div class="questions-card mt-5">
                <div class="question-card-img">
                    <img src="~/assets/img/subscription/@Model.Settings["QuestionsImg"]" alt="hot-call">
                </div>
                <div class="question-card-text p-3 pt-5">
                    <h4>MÜŞTƏRİ XİDMƏTİ</h4>
                    <p>@Model.Settings["Phone"]</p>
                    <a href="https://mail.google.com/" class="btn btn-light">Bize yazin</a>
                    <p>@Model.Settings["QuestionTime"]</p>
                    <p>Mağazaların iş qrafiki haqqında məlumat üçün <a asp-controller="store" asp-action="index">bura</a> daxil olun</p>

                </div>
            </div>
        </div>
    </div>

</div>

<!--Last Added Products-->
<div class="last-looked py-5 last-looked-secondary">
    <div class="container">
        <h4>Last Added Product</h4>
        <div class="owl-carousel owl-theme owl-carusel-last-seen owl-carusel-store">
            @foreach (var lastAddedPictures in Model.Products.OrderByDescending(m => m.Date).Take(5))
            {
                <div class="product-owl-field p-3">
                    <a asp-controller="ProductDetail" asp-action="index" asp-route-productId="@lastAddedPictures.Id">
                        <img src="~/assets/img/products/@lastAddedPictures.ProductImages.FirstOrDefault().Image" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    @if (lastAddedPictures.Discount != 0)
                    {
                        <div class="discounted-price my-2">
                            <span>
                                @Math.Truncate(lastAddedPictures.RealPrice
                           * (100 - lastAddedPictures.Discount) / 100) AZN
                            </span>/ededi
                        </div>
                        <div class="real-price">@Math.Truncate(lastAddedPictures.RealPrice) AZN</div>
                        <div class="discount-percentage my-2">Endirim @lastAddedPictures.Discount%</div>
                    }
                    else
                    {
                        <div class="discounted-price my-2">
                            <span>
                                @Math.Truncate(lastAddedPictures.RealPrice) AZN
                            </span>/ededi
                        </div>
                        <div class="real-price" style="visibility:hidden">P126</div>
                        <div class="discount-percentage my-2" style="visibility:hidden">P126</div>
                    }

                    <div class="extra-information">
                        <a asp-controller="ProductDetail" asp-action="Index" asp-route-productId="@lastAddedPictures.Id" class="btn btn-light form-control">Daha Etrafli</a>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <a href="#">
                            <svg id="icon-heart" viewBox="0 0 512 512">
                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                </path>
                            </svg>
                            Istek Listi
                        </a>
                    </div>
                </div>
            }


        </div>
    </div>

</div>

