@model DiscountCategoryVM
@{
    ViewData["Title"] = "Index";
}

<div class="home-navigation my-3">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <a asp-controller="home" asp-action="index">Ana səhifə</a>@Html.Raw("/") <a>@Model.DiscountCategroy.Name</a>
            </div>
            <div>
                <div style="width:110px !important; height:20px !important; font-size:15px;">
                    <a asp-controller="wishlist" asp-action="index">
                        <svg id="icon-heart" viewBox="0 0 512 512" style="width:20%;">
                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                            </path>
                        </svg>
                        <span>Istək Listi</span>
                        (<span class="wishlist-count">@Model.WishListCount</span>)
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="category-discount">
    <div class="container">
        <h4>@Model.DiscountCategroy.Name</h4>
        <div class="category-discount-img" style="height:300px;">
            <img src="~/assets/img/categoriesDiscount/@Model.DiscountCategroy.Image" alt="Discount Img" style="width:100%;height:100%;" />
        </div>
        <p>@Html.Raw(Model.DiscountCategroy.DiscountCategoryText)</p>
    </div>

    <div class="container">
        <div class="subcategory-fields">
            <div class="row">
                @foreach (var subCategory in Model.DiscountCategroy.Category.SubCategory.ToList())
                {
                    <div class="col-md-4 col-12 my-2 subcategory-field">
                        <a asp-controller="subcategory" asp-action="index" asp-route-subCategoryId="@subCategory.Id">
                            <div class="subcategory-inner p-2">
                                <p>@subCategory.Name</p>
                                <div>
                                    <img src="~/assets/img/subCategory/@subCategory.Image"
                                         alt="subcategory-photos">
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

        <div class="last-looked py-5">
        <div class="container">
            <div class="owl-carousel owl-theme owl-carusel-last-seen owl-carusel-store">
                @foreach (var lastAddedPictures in Model.Products.OrderByDescending(m => m.Date).Take(5))
                {
                    <div class="product-owl-field p-3">
                        <a href="#">
                            <img src="~/assets/img/products/@lastAddedPictures.ProductImages.FirstOrDefault()?.Image" alt="">
                            <br>
                            Carpayi Salling 140*220 natural
                        </a>
                        @if (lastAddedPictures.Discount != 0)
                        {
                            <div class="discounted-price my-2">
                                <span>
                                    @Math.Truncate(lastAddedPictures.RealPrice
                            * (100 - lastAddedPictures.Discount) / 100) AZN
                                </span>/ededi
                            </div>
                            <div class="real-price">@Math.Truncate(lastAddedPictures.RealPrice) AZN</div>
                            <div class="discount-percentage my-2">Endirim @lastAddedPictures.Discount%</div>
                        }
                        else
                        {
                            <div class="discounted-price my-2">
                                <span>
                                    @Math.Truncate(lastAddedPictures.RealPrice) AZN
                                </span>/ededi
                            </div>
                            <div class="real-price" style="visibility:hidden">P126</div>
                            <div class="discount-percentage my-2" style="visibility:hidden">P126</div>
                        }

                        <div class="extra-information">
                            <a asp-controller="ProductDetail" asp-action="Index" asp-route-productId="@lastAddedPictures.Id" class="btn btn-light form-control">Daha Etrafli</a>
                        </div>
                        <div class="wish-list text-center mt-2">
                            <form>
                                <input type="hidden" name="Id" value="@lastAddedPictures.Id" id="product-wishlist-id" />

                                @if (Model.WishListVM.Count() > 0)
                                {
                                    if (Model.WishListVM.FirstOrDefault(m => m.Id == lastAddedPictures.Id) != null)
                                    {
                                        <button type="submit" class="btn added-wishlist">
                                            <svg id="icon-heart" viewBox="0 0 512 512">
                                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                                </path>
                                            </svg>
                                            <span class="wishlist-text" style="color:red">Istek Listine Elave olundu</span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn add-wishlist">
                                            <svg id="icon-heart" viewBox="0 0 512 512">
                                                <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                                </path>
                                            </svg>
                                            <span class="wishlist-text">Istek Listi</span>
                                        </button>
                                    }
                                }
                                else
                                {
                                    <button type="submit" class="btn add-wishlist">
                                        <svg id="icon-heart" viewBox="0 0 512 512">
                                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                            </path>
                                        </svg>
                                        <span class="wishlist-text">Istek Listi</span>
                                    </button>
                                }
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

