@model CategoryVM
@{
    ViewData["Title"] = "Index";
}

    <!-- home-naviagtion -->
    <div class="home-navigation my-3">
        <div class="container">
            <a asp-controller="home" asp-action="index">Ana səhifə</a>/ <a>@Model.Category.Name</a>
        </div>
    </div>
    <!-- Category Wallpaper -->
    <div class="category-wallpaper py-5 d-none d-md-block">
        <div class="container">
            <div class="category-wallpaper-inner">
                <div class="row">
                    @foreach (var subCategoryImage in Model.Category.SubCategory.OrderByDescending(m=>m.Id).Take(3))
                    {
                        <div class="col-md-4 d-none d-md-block">
                            <a href="#">
                                <img src="~/assets/img/subCategory/@subCategoryImage.Image" alt="">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Main Category -->
    <div class="main-category">
        <div class="container">
            <div class="row">
                <!-- Aside -->
                <div class="d-none d-md-block col-md-3 mt-4">
                    <ul class="ul-main-category">
                        @if (Model.Category.SubCategory != null)
                        {
                            @foreach (var subCategory in Model.Category.SubCategory)
                            {
                                <li>
                                    <a asp-controller="subcategory" asp-action="index" asp-route-subCategoryId="@subCategory.Id">
                                        @subCategory.Name
                                    </a>
                                </li>
                                <hr>
                            }
                        }



                    </ul>
                </div>
                <!-- Main Side -->
                <div class="col-12 col-md-9 mt-4">
                    @if (Model.Category.CategoryText != null)
                    {
                       <p>@Model.Category.CategoryText</p>
                    }

                    <div class="row subcategory-fields">
                        @foreach (var subC in Model.Category.SubCategory)
                        {
                            <div class="col-md-4 col-12 my-2 subcategory-field">
                                <a asp-controller="subcategory" asp-action="index" asp-route-subCategoryId="@subC.Id">
                                    <div class="subcategory-inner p-2">
                                        <p>@subC.Name</p>
                                        <div>
                                            <img src="~/assets/img/subCategory/@subC.Image"
                                                 alt="subcategory-photos">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>



