@model List<Product>
@{
    ViewData["Title"] = "Catalog";
}

<div class="home-navigation my-3">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <a asp-controller="home" asp-action="index">Ana səhifə</a>/ <a>Qəzetlər və Kataloq</a>
            </div>
            <div>
                <div style="width:100px !important; height:20px !important; font-size:10px;">
                    <a asp-controller="wishlist" asp-action="index">
                        <svg id="icon-heart" viewBox="0 0 512 512" style="width:20%;">
                            <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                            </path>
                        </svg>
                        <span>Istək Listi</span>
                        (<span class="wishlist-count">@ViewBag.WishListCount</span>)
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="catalog" style="background-color: #fff;">
    <div class="container">
        <h4>QƏZETLƏR VƏ KATALOQLAR</h4>
        <div class="catalog-page p-2">
            <div class="row">
                <div class="col-2 text-center">
                    <a href="https://jysk.az/frontend/web/uploads//images/catalog/JYSKBuklet-HBAZ24pag1651213995.pdf">
                        <img src="~/assets/img/advertisments/JYSKAZCover-May.png" alt="">
                    </a>
                </div>
                <div class="col-10">
                    <div class="catalog-intext">
                        <h4>
                            <a href="#"> Yeni Aksiyamiz</a>
                        </h4>
                        <p>
                            Burada JYSK-dan ən son təklifləri tapa bilərsiniz. Tanıtım qəzetinə baxmaq üçün buraya vurun.
                        </p>
                        <a href="#" class="btn btn-primary" style="color: #fff !important;"> Buraya Daxil Olun</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!--Last Added Products-->
<div class="last-looked py-5 last-looked-secondary">
    <div class="container">
        <h4>Last Added Product</h4>
        <div class="owl-carousel owl-theme owl-carusel-last-seen owl-carusel-store">
            @foreach (var lastAddedPictures in Model.OrderByDescending(m => m.Date).Take(5))
            {
                <div class="product-owl-field p-3">
                    <a asp-controller="ProductDetail" asp-action="index" asp-route-productId="@lastAddedPictures.Id">
                        <img src="~/assets/img/products/@lastAddedPictures.ProductImages.FirstOrDefault().Image" alt="">
                        <br>
                        Carpayi Salling 140*220 natural
                    </a>
                    @if (lastAddedPictures.Discount != 0)
                    {
                        <div class="discounted-price my-2">
                            <span>
                                @Math.Truncate(lastAddedPictures.RealPrice
                           * (100 - lastAddedPictures.Discount) / 100) AZN
                            </span>/ededi
                        </div>
                        <div class="real-price">@Math.Truncate(lastAddedPictures.RealPrice) AZN</div>
                        <div class="discount-percentage my-2">Endirim @lastAddedPictures.Discount%</div>
                    }
                    else
                    {
                        <div class="discounted-price my-2">
                            <span>
                                @Math.Truncate(lastAddedPictures.RealPrice) AZN
                            </span>/ededi
                        </div>
                        <div class="real-price" style="visibility:hidden">P126</div>
                        <div class="discount-percentage my-2" style="visibility:hidden">P126</div>
                    }

                    <div class="extra-information">
                        <a asp-controller="ProductDetail" asp-action="Index" asp-route-productId="@lastAddedPictures.Id" class="btn btn-light form-control">Daha Etrafli</a>
                    </div>
                    <div class="wish-list text-center mt-2">
                        <form>
                            <input type="hidden" name="Id" value="@lastAddedPictures.Id" id="product-wishlist-id" />
                            <button type="submit" class="btn add-wishlist">
                                <svg id="icon-heart" viewBox="0 0 512 512">
                                    <path d="m512 147c0-81-62-147-141-147-48 0-89 26-115 62-26-36-67-62-115-62-79 0-141 66-141 147 0 34 11 66 30 91l207 274 40 0-21-27-194-256-8-10c-14-21-22-46-22-72 0-62 48-113 109-113 35 0 69 17 89 49l26 39 26-39c20-30 54-49 89-49 61 0 109 51 109 113 0 26-8 50-22 71l-7 8-153 201-199-259-25 19 203 267 21 28 14-18 171-226c18-24 29-56 29-91z">
                                    </path>
                                </svg>
                                Istek Listi
                            </button>
                        </form>
                    </div>
                </div>
            }


        </div>
    </div>

</div>

