@model List<BasketDetailVM>
@{
    ViewData["Title"] = "Index";
    int count = 1;
    decimal price = 0;
}




<div class="container">
    <div class="row">
        <div class="header d-flex justify-content-between mt-3">
            <h1>Basket</h1>

        </div>
        @if (Model == null)
        {
            <p>There is not product in basket</p>
        }
        else if (Model.Count() < 1)
        {
            <p>There is not product in basket</p>
        }
        else
        {
            <div class="table-responsive" id="table-responsive">
                <table class="table table-striped" id="table-main-id">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Count
                            </th>
                            <th>
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-basket">
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <a asp-controller="productdetail" asp-action="index" asp-route-productId="@item.Product.Id"></a>
                                    <img src="~/assets/img/products/@item.Product.ProductImages.FirstOrDefault().Image" height="50" width="50" />
                                </td>
                                <td>
                                    @item.Product.Name
                                </td>
                                <td>
                                    @item.ProductCount
                                </td>
                                @if (item.Product.Discount == 0)
                                {
                                    <td>
                                        @Math.Truncate(item.Product.RealPrice * item.ProductCount) AZN
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @Math.Truncate(item.Product.RealPrice * (100 - item.Product.Discount) / 100 * item.ProductCount) AZN
                                    </td>
                                }

                                <td>
                                    <a class="basket-remove" id="@item.Product.Id" href="#">X</a>
                                </td>

                            </tr>
                            if (item.Product.Discount == 0)
                            {
                                price += (item.Product.RealPrice * item.ProductCount);
                            }
                            else
                            {
                                price += (item.Product.RealPrice * (100 - item.Product.Discount) / 100 * item.ProductCount);
                            }


                        }

                        <h3 id="letter-total-price">Total Price: <span id="total-price">@Math.Truncate(price)</span></h3>

                    </tbody>
                </table>
            </div>
        }

    </div>
</div>

