@model Blog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
    int countForText = 0;
}




<div style="width:2000px !important">
    <h1>Edit</h1>
    <form class="forms-sample" method="post" asp-action="Edit" asp-route-Id="@Model.Id" enctype="multipart/form-data">
        <div class="form-group">
            @* For Naming Label *@
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" style="width:350px;" maxlength="100" miminlength="5">
            <span class="text-danger" asp-validation-for="Name" type="text"></span>
        </div>
        <div class="form-group my-2">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="@ViewBag.selectlist"></select>
            <span class="text-danger" asp-validation-for="CategoryId"></span>
        </div>
        @if (Model.BlogSpesifications.Count(m => m.IsDeleted == false) > 0)
        {
            @for (int i = 0; i < Model.BlogSpesifications.Count(m => m.IsDeleted == false); i++)
            {
                <div class="form-group my-2">
                    <input type="hidden" asp-for="@Model.BlogSpesifications[i].Id" />
                    <label asp-for="@Model.BlogSpesifications[i].Photo">Image:</label>
                    <br />
                    <img src="~/assets/img/blog/@(Model.BlogSpesifications[i].Image)" alt="Alternate Text" style="width:100px; height:100px;" />
                    <input class="form-control" asp-for="@Model.BlogSpesifications[i].Photo" style="width:350px;" />
                    <span class="text-danger" asp-validation-for="@Model.BlogSpesifications[i].Photo"></span>
                </div>
                <div>
                    <label asp-for="@Model.BlogSpesifications.Where(m=>!m.IsDeleted).ToList()[i].BlogText">Text: </label>
                    <textarea class="form-control" id="@i" asp-for="@Model.BlogSpesifications[i].BlogText" style="width:650px; height:200px;" maxlength="300"></textarea>
                    <span class="text-danger" asp-validation-for="@Model.BlogSpesifications[i].BlogText"></span>
                    <a asp-controller="blog" asp-action="edit" asp-route-blogId="@Model.Id" asp-route-blogSpecificationId="@Model.BlogSpesifications[i].Id"><span class="btn btn-danger my-2">Delete Image and Text</span></a>
                </div>

            }
            @for (int i = Model.BlogSpesifications.Count(m => m.IsDeleted == false); i < (Model.BlogSpesifications.Count(m => m.IsDeleted == false)); i++)
            {
                <div class="form-group my-2">
                    <input type="hidden" asp-for="@Model.BlogSpesifications[i].Id" />
                    <label asp-for="@Model.BlogSpesifications[i].Photo">Image:</label>
                    <br />
                    <input class="form-control" asp-for="@Model.BlogSpesifications[i].Photo" style="width:350px;" />
                    <span class="text-danger" asp-validation-for="@Model.BlogSpesifications[i].Photo"></span>
                </div>
                <div>
                    <label asp-for="@Model.BlogSpesifications[i].BlogText">Text: </label>
                    <textarea class="form-control CategoryText" asp-for="@Model.BlogSpesifications[i].BlogText" style="width:650px; height:200px;" maxlength="300"></textarea>
                    <span class="text-danger" asp-validation-for="@Model.BlogSpesifications[i].BlogText"></span>
                </div>
            }
        }


        <a asp-controller="blog" asp-action="edit" asp-route-Id="@Model.Id" asp-route-blogSpecRow="@(ViewBag.blogSpecRow)"><span class="btn btn-primary">+</span></a>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationPartialView" />

    <script src="~/ckeditor/ckeditor.js"></script>

    <script>
        var count = @Model.BlogSpesifications.Count(m => m.IsDeleted == false);
        for (var i = 0; i < count; i++) {
            CKEDITOR.replace(i.toString())
        }
           




    </script>
}




